<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/home.css">
  
  
  <title>Home</title>
</head>
<body>
   
  <%- include('includes/dashboard.ejs') %>
  <main class="main-container">
    <!-- FIRST ROW -->
    <section class="row">
      <p><% userProfile[0].categorySums %></p>
  
      <!-- COLUMN --> 
      <% let remainingFunds = userProfile[0].monthlyTakeHome - userProfile[0].expenseSum - monthlyNecessities - monthlyIndulgences %>
      <div class="col-one card">
        <div class="card-title-wrapper">
          <h2 class="card-title">Budget</h2>
        </div>
        <div class="col-wrapper-one"> 
          <p>Take Home Pay</p>
          <span class="lt-green">$ <%= userProfile[0].monthlyTakeHome %> </span>
          <hr class="hr">
          <p class="">Necessity Spent</p>
          <span class="lt-red">$ <%= userProfile[0].expenseSum + monthlyNecessities %> </span>
          <hr class="hr">
          <p class="">Indulgent Spent<br /></p>
          <span class="lt-red">$ <%= monthlyIndulgences %> </span>
          <hr class="hr">
          <p class="">Remaining funds<br /></p>
          <span class="lt-green">$<%= remainingFunds  %></span>
          <hr class="hr">
          <button class="gen-btn add-btn" type="button" data-toggle="modal" data-target="#myModal">Add Expense</button> 
        </div>
      </div>
      <!-- COLUMN -->
      <div class="col-one card">
        <div class="card-title-wrapper">
          <h2 class="card-title">Chart</h2>
        </div>
        <i class="fas fa-chart-pie fa-10x flex-center"></i>
      </div>
      <!-- COLUMN -->
    <div class="col-one card">
      <div class="card-title-wrapper">
        <h2 class="card-title">Month Specifics</h2>
      </div>
      <div class="col-wrapper-two">
        <div>
          <p class="mb-1">Home</p>
          <span>$1200</span>
        </div>
        <div>
          <p class="mb-1">Utilities</p>
          <span>$347</span>
        </div>
        <div>
          <p class="mb-1">Vehicle</p>
          <span>$135</span>
        </div>
        <div>
          <p class="mb-1">Groceries</p>
          <span>$78</span>
        </div>
        <div>
          <p class="mb-1">Dining</p>
          <span>$275</span>
        </div>
        <div>
          <p class="mb-1">miscellaneous</p>
          <span>$113</span>
        </div>
      </div>
    </div>
    </section>

    <!-- SECOND ROW -->
    <section class="row">
      <!-- COLUMN -->
      <div class="col-six card">
        <div class="card-title-wrapper">
          <h2 class="card-title">Monthly Specifics</h2>
        </div> 
        <div class="flex-center">
          <div class="monthly-specs-btns-wrapper">
            <button class="gen-btn">Home</button>
            <button class="gen-btn">Utilities</button>
            <button class="gen-btn">Vehicle</button>
            <button class="gen-btn">Groceries</button>
            <button class="gen-btn">Dining</button>
            <button class="gen-btn">Misc.</button>
          </div>  
          <div class="col-wrapper-three col-five">
            <h4>Posted</h4>
            <h4>Date</h4>
            <h4>Amount</h4>
            <% expenditures.forEach(exp => { %>
              <p><%= exp.title %></p>
            <span><%= exp.date %></span><span>$<%= exp.amount %></span>
            <% }); %> 
          </div>
        </div>  
      </div>
    </section>


    <!-- Modal used for adding expenses  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Expenditure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/add-expenditure" method="POST"> 
          <div class="form-group">
            <label for="expenditure-title">Title</label>
            <input type="text" class="form-control" id="expenditure-title" name="expTitle" required>
          </div>
          <label for="income-salary">Amount</label>
          <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="expAmount" value="" step=".01" required>
          </div>
          <div class="form-check form-check-inline mt-4">
            <input class="form-check-input" type="radio" name="expSpendingType" id="" value="true" required>
            <label class="form-check-label" for="necessity">Necessity</label>
          </div>
          <div class="form-check form-check-inline mt-4">
            <input class="form-check-input" type="radio" name="expSpendingType" id="" value="false" required>
            <label class="form-check-label" for="indulgence">Indulgence</label>
          </div>
          <br>
          <label for="categorySelect" class="form-check-label mt-4">Choose Category</label>
          <select class="custom-select mt-3" id="categorySelect" name="expCategory" required>
            <option value="housing">Housing</option>
            <option value="vehicle">Vehicle</option>
            <option value="utilites">Utilites</option>
            <option value="childcare">Childcare</option>
            <option value="groceries">Groceries</option>
            <option value="dining">Dining</option>
            <option value="debtPayment">Debt Payment</option>
            <option value="retirement"></option>
            <option value="miscellaneous">miscellaneous</option>
          </select>     
      </div>
       
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form> 
        
    </div>
  </div>
</div>
  </main>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
<script src="https://kit.fontawesome.com/0e80a7ec36.js" crossorigin="anonymous"></script>
</body>
</html>